version: "3.9"
services:
  api:
    build: ../docker
    ports: ["8000:8000"]
    environment:
      SECRET_PATH: /run/secrets/api_key
    secrets:
      - api_key

  vault:
    image: hashicorp/vault:1.17
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: root
      VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
    ports: ["8200:8200"]

secrets:
  api_key:
    file: ./api_key.txt
